html{
    margin:0;
}

span{
    display: block;
}

button{
    display:-moz-marker
}

/*  apply on div tag */
.canvas {
    margin: 100px auto 100px;
    width: 80%;
    
  }
  

  /*  apply on button class */
  .button {
    text-align: center;   
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }

  /* .col{
    width: 50px;
    height: 50px;
    border: solid black 2px;

  } */

/*  apply on indivual id */
#grey{
    background-color: grey;
}

#white{
    background-color: white;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color:yellow ;
}
#purple{
    background-color: purple;
}


#pink{
    background-color: pink;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}
#red{
    background-color: red;
}